@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Montserrat&display=swap');
body{
    display:flex;
    align-content: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}
.container{
    display:flex;
    align-content: center;
    justify-content: center;
    width:375px;
    flex-wrap: wrap;
}

img{
    width:375px;;
    height:501px;
}
.contact-links{
      
    display:inline;
}
ul{
    display:flex;
    
    justify-content: space-around;
   

    
}
.title ul li{
    font-size: 75%;
    font-weight: 600;
    margin-right:55px;
}

 ul li{
    margin-right:55px;
}
.title{
    width:375px;
    margin:auto;
}
ul li{
    list-style:none;
    
}
.contact-form{
    width:375px;
    display:flex;
    align-content: center;
    justify-content: center;
}
.contact-form .fields{
padding:5px;
margin-bottom:1px;
text-align:center;
}
.contact-form .action .button{
border-radius:5px;
padding:8px;
border: none;
background:black;
color:white;
}

.fas{
    color:red;
}
.fas:hover{
    color:black;
}
p{
    font-size:70%;
}
footer p{
    font-size:8px;
    font-style: italic;
    text-align:center;
}
footer{
    padding:10px;
    width:100%;
    background:gray;
    height:20px;
    
}
.action{
    float:left;
}
@media only screen and (min-width:600px){
    .container{
        width:600px;
        
    }
    body{
        background:black;
    }
    .title li{
        color:white;
    }
    .contact-form .action .button{
        background:white;
        color:black;
        }
        p{
            color:white;
        }
        .contact-form .fields #file{
            color:white;
           }
           .fas:hover{
            color:white;
        }
}
/*
image width 375 * 812



*/